<div class="page-layout simple fullwidth">
    <!-- HEADER -->
    <div class="header grey p-24" fxLayout="row" fxLayoutAlign="start center">
        <h2>Crypto Market</h2>
        <div class="search-wrapper  ml-sm-32">
            <div
                class="search"
                fxFlex
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <mat-icon>search</mat-icon>
                <input #filter placeholder="Search for you coin" />
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <div class="content p-24">
        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="orders-table"
                #table
                [dataSource]="dataSource"
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
            >
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >ID</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">{{ order.id }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Reference Column -->
                <ng-container matColumnDef="reference">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-sm
                        >Reference</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm>
                        <p class="text-truncate">{{ order.reference }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="customer">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Customer</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">
                            {{ order.customer.firstName }}
                            {{ order.customer.lastName }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Total Price Column -->
                <ng-container matColumnDef="total">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-md
                        >Total</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order" fxHide fxShow.gt-md>
                        <p class="total-price text-truncate">
                            {{ order.total | currency: "USD":"symbol" }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Payment Column -->
                <ng-container matColumnDef="payment">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-sm
                        >Payment</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm>
                        <p class="text-truncate">
                            {{ order.payment.method }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Status</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p
                            class="status text-truncate h6 p-4"
                            [ngClass]="order.status[0].color"
                        >
                            {{ order.status[0].name }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-sm
                        >Date</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm>
                        <p class="text-truncate">
                            {{ order.date }}
                        </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                ></mat-header-row>

                <mat-row
                    *matRowDef="let order; columns: displayedColumns"
                    class="order"
                    matRipple
                    [routerLink]="'/crypto/' + order.id"

                    [routerLink]="'/apps/academy/courses/' + course.id + '/' + course.slug"
                >
                </mat-row>
            </mat-table>
            <mat-paginator
                #paginator
                [length]="dataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
            >
            </mat-paginator>
        </div>
    </div>
</div>

